*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

body{ /* this is a tag */
    width: 100%;
    max-width: 1400px;
    display: block; 
    margin: auto; 
    min-height: 100vh;
    background: #191919;
    font-family: sans-serif;

}

.navbar{ /* this is a class of a tag */
    width: 100%;
    position: fixed; /*so that the navbar is fixed even if we're scrolling down*/
    top :0; 
    left : 0; 
    display : flex ; /*this*/
    justify-content: center; /*this*/
    align-items: center; /*and this are used to center an element */
    z-index: 9; /* to specify the stack prder of an element */ 
    background: #1a1a1a; /* #1a1a1a is slightly lighter than #191919*/
}

.link-group{ /* this is a class of a tag */
    list-style: none; /* to get rid of the default style of a list in html */
    display: flex; /* this makes the elements of the list on the same line*/
}

.link a { /* a that is in .link */
    color : #fff;
    opacity: 0.5; /* obscurity */
    text-decoration: none;
    text-transform: capitalize;
    padding : 10px 30px; /* top and bottom are 10 , left and right are 30*/
    margin : 0 20px ; /* top and bottom are 0 , left and right are 20*/
    line-height: 80px;
    transition: .5s;
    font-size: 20px; /* text size */
}

.link a:hover, .link.active a{ /* here we set home as the one selected by default*/
    opacity: 1;
}


/* home section */
.home-section.active, .about-section.active, .contact-section.active, .project-section.active{
    position: relative;
    opacity:1;
    z-index:7;
}

.home-section{
    width:100%;
    height: 100vh;
    padding: 0 150px;
    display: flex;
    align-items: center;
    position: fixed; /*the position is fixed so that when changing pages , the effect of the image stays the same*/ 
    top:0; 
    opacity: 0; /*made the whole thing disapear*/
    transition: 1s;
}

.home-heading{
    color: #fff;
    font-size: 120px;
    text-transform: capitalize;
    font-weight: 300;
    z-index : 8;
}

.home-img{
    position: absolute;
    /* position: fixed;   fixed */
    top : 0;
    right: 0; 
    /* right: 110px; */
    height: 100vh; 
    /* width : 43%;  */
    width: 50%;
    object-fit: cover;
    opacity: 0.9;
    transition: 1s;
}
 

/* project section */

/* .project-section.active{
    position: relative;
    opacity:1;
} */

.project-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 100px ;
    position: fixed;
    top: 0;
    left : 0;
    transition:1s;
    opacity: 0; /*made the whole thing disapear*/

    /*background: red;*/
}

.project-heading{
    font-size: 100px;
    background: #f18bca; /*df48a5 252525*/
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 50px;
    color: #000;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-stroke: 8px transparent;
}

.project-container{
    display : grid;
    margin: 0px 0px 25px 25px ;
    grid-template-columns : repeat(2,1fr);
    grid-gap : 100px;
}

.project-card{
    height : 400px;
    position : relative;
    /*background-color: red;*/
}


.project-img{
    /* width : 100% ;
    height : 100% ; */
    position : absolute;/*from here*/
    top : 50%; 
    left : 50%;
    width : 100%;
    height: 100%;
    transform: translate(-50%, -50%);/*to here , is to center an absolute element*/
    object-fit: cover; 
    transition: 1s;
    border-radius: 20px;   
} 

.project-content{
    position : relative; 
    padding : 40px; 
    color : #fff;
    transition: 1s;
    opacity: 0;
}

.project-title{
    font-size: 50px; 
    text-transform : capitalize; 
    text-align: center;
    font-weight: 300;
}

.project-info{margin : 40px; 
font-size: 20px;
line-height: 30px; 
text-align: center;
}

.project-btn-grp{
    display : grid; 
    grid-template-columns : repeat(2, 1fr);
    grid-gap : 20px;
}
.a{
    background:red;
}
.aa{
    background: green;
}
.project-btn{
    height : 40px;
    text-transform: capitalize;
    font-size: 18px; 
    border : none; 
    background : #000;
    color : #fff;
    cursor : pointer;
    border-radius: 10px;
    transition:1s;
}

.project-btn.live{
    background : none; 
    border : 2px solid #fff; 
}

.project-btn.github{
    border : 2px solid #000; 
}

.project-card:hover .project-img{
    filter: blur(20px);
}

.project-btn.live:hover{
    border : 2px solid #000;
}

.project-btn.github:hover{
    border : 2px solid rgb(255, 0, 200);
}/*rgb(255, 0, 200);*/

.project-card:hover .project-content{
    opacity: 1;
}

/* about section */

.about-section{
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    /*position: relative;*/ /* to make this section scrollable , we can use fixed if we don't want the section to be scrollable*/
    position: fixed;
    opacity:0;
    top:0;
    transition: 1s;
}

.about{
    width: 100% ; 
    display: grid; 
    grid-template-columns: 30% 65%;
    grid-gap: 40px;
}

.about-img-container{
    position: relative;
}

.about-info{
    color: #fff;
    opacity: 0.6; 
    font-size: 20px; 
    line-height: 40px;
}

.about-img{
    width: 100%; 
    height: 100% ; 
    object-fit: cover;
    border-radius: 20px;
}

.download-cv-btn{
    position: absolute; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%);
    padding: 10px 20px;
    color: #fff;
    border: none;
    font-size: 16px;
    text-transform: capitalize;
    cursor: pointer; 
    transition: .5s; 
    background: rgb(0, 0, 0, 0.5); /* 0.5 is the opacity*/
}

.download-cv-btn:hover{
    background: #000;
}

/* skills */

.skills-section{
    position: relative;
    margin: 100px 0; 
}

.heading{
    text-align: center;
    font-size: 60px;
    color:#fff;
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 100px;
    margin-bottom: 100px;
}

.skills-container{
    width: 95%;
    margin: auto;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
    color: #fff;
}

.skill-card{
    position: relative;
}

.skill-img{
    display: block;
    margin: auto;
    height: 200px;
}

.skill-name{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    text-transform: capitalize;
    margin: 30px 0 20px;  
}

.skill-info{
    text-align: center;
    opacity: 0.5;
    font-size: 18px;
    line-height: 30px;
}

.skill-level{
    position: absolute;
    top: 80px;
    right: 0;
    width: 150px;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid ;
     
}
/*
.one{

    position: absolute;
    
    width: 150px;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid ;

    display: none;
    
}*/


.skill-card:nth-child(1) .one{
    /* opacity : 0; */
    transition: .5s;
    background: conic-gradient(#d64fff 80%, #d64fff28 0 20%);
    transition: .5s;
}

.skill-card:nth-child(2) .one{
    /* opacity : 0; */
    transition: .5s;
    background: conic-gradient(#e60ca4 60%, #e60ca428 0 40%);
}

.skill-card:nth-child(3) .one{
    /* opacity : 0; */
    transition: .5s;
    background: conic-gradient(#2905f3 60%, #2905f328 0 40%);
}

.skill-card:nth-child(4) .one{
    /* opacity : 0; */
    transition: .5s;
    background: conic-gradient(#9405f3 70%, #9405f328 0 30%);

}

.skill-card:nth-child(5) .one{
    /* opacity : 0; */
    transition: .5s;
    background: conic-gradient(#e666e6 70%, #e666e628 0 30%);

}

.skill-card:nth-child(6) .one{
    /* opacity : 0; */
    transition: .5s;
    background: conic-gradient(#31a3e6 60%, #31a3e628 0 40%);

}

.skill-card:nth-child(1) .skill-level{
    background : #d64fff28;
    border-color: #d64fff;
    color: #d64fff;
}

.skill-card:nth-child(2) .skill-level{
    background : #e60ca428;
    border-color: #e60ca4;
    color: #e60ca4;
}

.skill-card:nth-child(3) .skill-level{
    background : #2905f328;
    border-color: #2905f3;
    color: #2905f3;
}

.skill-card:nth-child(4) .skill-level{
    background : #9405f328;
    border-color: #9405f3;
    color: #9405f3;
}

.skill-card:nth-child(5) .skill-level{
    background : #e666e628;
    border-color: #e666e6;
    color: #e666e6;
}

.skill-card:nth-child(6) .skill-level{
    background : #31a3e628;
    border-color: #31a3e6;
    color: #31a3e6;
}


/*.one{

    position: absolute;
    
    width: 150px;
    height: 150px; 
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    border-radius: 50%;
    border: 10px solid ;

    display: none;
    
}*/

.loading-one
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid ;

    display: none;
}

 .outer-shadow-one
{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*this only fills the right haklf with white vertically*/

.hold-one 
{
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip: rect(0px, 150px, 150px, 75px); */
  clip: rect(0px, 300px, 300px, 0px);
  border-radius: 100%;
  background-color: #d64fff28;
}

.fill-one, .dot span 
{
  background-color: #d64fff;
}

.fill-one 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 75px, 150px, 0px);
}

.left-one .fill-one
{
  z-index: 1;
  -webkit-animation: left 1s linear ;
  -moz-animation: left 1s linear ;
  animation: left 1s linear both;  
}
/* here the right side is animated and colered with red*/ 
@keyframes left 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{transform:rotate(180deg);}
}

@-webkit-keyframes left 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(180deg);}
}
/*left side colored with white*/

.right-one 
{
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right-one .fill-one
{  
   z-index: 3;
  -webkit-animation: right 1s linear ;
  -moz-animation: right 1s linear ;
  animation: right 1s linear both ;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/*left side animated*/

@keyframes right 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{transform:rotate(108deg);}
}

@-webkit-keyframes right {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(108deg);
  }
}
 
/* //------ */
.loading-two
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid ;

    display: none;
}

 .outer-shadow-two
{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*this only fills the right haklf with white vertically*/

.hold-two
{
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip: rect(0px, 150px, 150px, 75px); */
  clip: rect(0px, 300px, 300px, 0px);
  border-radius: 100%;
  background-color: #e60ca428;
}
 

.fill-two, .dot span 
{
  background-color: #e60ca4;
}

.fill-two 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 75px, 150px, 0px);
}

.left-two .fill-two
{
  z-index: 1;
  -webkit-animation: left 1s linear ;
  -moz-animation: left 1s linear ;
  animation: left 1s linear both;  
}
/* here the right side is animated and colered with red*/ 

/*left side colored with white*/

.right-two 
{
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right-two .fill-two
{  
   z-index: 3;
  -webkit-animation: right-two 1s linear ;
  -moz-animation: right-two 1s linear ;
  animation: right-two 1s linear both ;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/*left side animated*/

@keyframes right-two 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{transform:rotate(36deg);}
}

@-webkit-keyframes right-two {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(36deg);
  }
}

/* ---------------------- */
.loading-three
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid ;

    display: none;
}

 .outer-shadow-three
{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*this only fills the right haklf with white vertically*/

.hold-three 
{
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip: rect(0px, 150px, 150px, 75px); */
  clip: rect(0px, 300px, 300px, 0px);
  border-radius: 100%;
  background-color: #2905f328;
}
 

.fill-three, .dot span 
{
  background-color: #2905f3;
}
.fill-three 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 75px, 150px, 0px);
}

.left-three .fill-three
{
  z-index: 1;
  -webkit-animation: left 1s linear ;
  -moz-animation: left 1s linear ;
  animation: left 1s linear both;  
}
/* here the right side is animated and colered with red*/ 

/*left side colored with white*/

.right-three 
{
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right-three .fill-three
{  
   z-index: 3;
  -webkit-animation: right-two 1s linear ;
  -moz-animation: right-two 1s linear ;
  animation: right-two 1s linear both ;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* ----------------- */


.loading-four
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid ;

    display: none;
}

 .outer-shadow-four
{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*this only fills the right haklf with white vertically*/

.hold-four 
{
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip: rect(0px, 150px, 150px, 75px); */
  clip: rect(0px, 300px, 300px, 0px);
  border-radius: 100%;
  background-color: #9405f328;
}
 
.fill-four, .dot span 
{
  background-color: #9405f3;
}

.fill-four 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 75px, 150px, 0px);
}

.left-four .fill-four
{
  z-index: 1;
  -webkit-animation: left 1s linear ;
  -moz-animation: left 1s linear ;
  animation: left 1s linear both;  
}
/* here the right side is animated and colered with red*/ 
/*left side colored with white*/

.right-four 
{
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right-four .fill-four
{  
   z-index: 3;
  -webkit-animation: right-four 1s linear ;
  -moz-animation: right-four 1s linear ;
  animation: right-four 1s linear both ;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/*left side animated*/

@keyframes right-four 
{
    0%{-webkit-transform:rotate(0deg);}
    100%{transform:rotate(72deg);}
}

@-webkit-keyframes right-four {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(72deg);
  }
}

/* -------- */

.loading-five
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid ;

    display: none;
}

 .outer-shadow-five
{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*this only fills the right haklf with white vertically*/

.hold-five 
{
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip: rect(0px, 150px, 150px, 75px); */
  clip: rect(0px, 300px, 300px, 0px);
  border-radius: 100%;
  background-color: #e666e628;
}
 
.fill-five, .dot span 
{
  background-color: #e666e6;
}

.fill-five 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 75px, 150px, 0px);
}

.left-five .fill-five
{
  z-index: 1;
  -webkit-animation: left 1s linear ;
  -moz-animation: left 1s linear ;
  animation: left 1s linear both;  
}
/* here the right side is animated and colered with red*/ 

/*left side colored with white*/

.right-five 
{
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right-five .fill-five
{  
   z-index: 3;
  -webkit-animation: right-four 1s linear ;
  -moz-animation: right-four 1s linear ;
  animation: right-four 1s linear both ;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}


/* ----- */

.loading-six
{
    width: 150px;
    height: 150px;
    position: absolute;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid ;

    display: none;
}

 .outer-shadow-six
{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}

/*this only fills the right haklf with white vertically*/

.hold-six 
{
  position: absolute;
  width: 100%;
  height: 100%;
  /* clip: rect(0px, 150px, 150px, 75px); */
  clip: rect(0px, 300px, 300px, 0px);
  border-radius: 100%;
  background-color: #31a3e628;
}

.fill-six, .dot span 
{
  background-color: #31a3e6;
}

.fill-six 
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  clip: rect(0px, 75px, 150px, 0px);
}

.left-six .fill-six
{
  z-index: 1;
  -webkit-animation: left 1s linear ;
  -moz-animation: left 1s linear ;
  animation: left 1s linear both;  
}
/* here the right side is animated and colered with red*/ 

/*left side colored with white*/

.right-six 
{
  z-index: 3;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right-six .fill-six
{  
   z-index: 3;
  -webkit-animation: right-two 1s linear ;
  -moz-animation: right-two 1s linear ;
  animation: right-two 1s linear both ;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* timeline */
.timeline{
    display: block; 
    width: 80%;
    margin: 15px auto;
}

.timeline .heading{
    margin-bottom: 150px ;
}

.card{
    width: 45%;
    padding: 30px;
    border-radius: 10px;
    color: #fff;
    display: block;
    margin: -80px 0; 
    position : relative; 
    background: red;
}

.card:nth-child(even){
   margin-left: auto; /*this is what makes them go left and right*/
}

.card:nth-child(even):before{
    content: '';
    position: absolute; 
    left: -15%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px; 
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(even):after{
    content: '';
    position: absolute; 
    left: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px; 
    background: white;
    z-index: -1;
}

.card:nth-child(odd):before{
    content: '';
    position: absolute; 
    right: -13%;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px; 
    border: 5px solid #191919;
    border-radius: 50%;
}

.card:nth-child(odd):after{
    content: '';
    position: absolute; 
    right: -8.5%;
    top: 50%;
    transform: translateY(-50%);
    width: 7%;
    height: 2px; 
    background: white;
    z-index: -1;
}

.card:nth-child(2), .card:nth-child(2):before{
    background: #e666e6 ;  /*e666e6 9405f3 2905f3 e60ca4 d64fff*/
}

.card:nth-child(3), .card:nth-child(3):before{
    background: #0ca1e6;/*9405f3*/
}

.card:nth-child(4), .card:nth-child(4):before{
    background: #bc05f3;
}

.card:nth-child(5), .card:nth-child(5):before{
    background: #0cc5e6;/*e60ca4*/
}
 
.card:nth-child(6), .card:nth-child(6):before{
    background: #f305f3;/*31a3e6*/
}

.card:nth-child(even) .card-body:before{
    content:'';
    position: absolute;
    left: -12%;
    top: 0;
    width: 0px;
    height: 100%;
    border: 1px dashed #fff; 
    z-index: -1;
}

.card-title{
    font-size: 30px; 
    font-weight: 300; 
    margin-bottom: 20px;
}

/* contact section */

.contact-section{
    position: absolute;
    opacity: 0;
    top:0;
    transition: 1s;
    padding: 100px 150px; 
    height: 100vh;
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 50px;
}

.contact-form input, .contact-form textarea{
    width: 100%;
    height: 40px;
    background: rgba(255,255,255,0.2);
    border: 1px solid #fff;
    margin-bottom: 30px;
    border-radius: 5px;
    text-transform: capitalize;
    color: #fff;
    padding: 5px 10px; 
}

::placeholder{
    color: #fff;
}

#msg{
    height:200px;
    resize: none; 
    font-family: sans-serif;
}

.form-submit-btn{
    background:#dd0dcc;
    color: #fff;
    text-transform: capitalize;
    padding: 15px 40px; 
    display: block; 
    margin: auto; 
    border: none;
    border-radius: 10px;
    cursor: pointer; 
}

.map{
    width: 100%; 
    height: 100%;
    padding: 10px; 
    border: 2px solid #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

.map iframe{
    width: 100%;
    height: 100%; 
    border-radius: 5px;
}